*{
    margin: 0;
    padding: 0;
}
/* Header Section 
------------------------------------------*/
header{
    background: #1F2937;
    color: #f9faf8;
}
nav{
   display: flex; 
   padding: 10px;
   justify-content: space-between;
}
#logo{
    font-weight:900;
    font-size: 24px;
    padding-left: 159px;
}
.nav-menu > ul{
    display: flex;
    list-style: none;
    gap: 20px;
    padding-right: 159px;
}
.nav-menu > ul a{
    text-decoration: none;
    color: #e5e7eb;
    font-size:18px;
}
.header-content{
    display: flex;
    justify-content: space-evenly;
}
.header-content h1{
    font-size: 48px;
    font-weight: bolder;
}
.btn-link{
    background: #3882f6;
    text-decoration: none;
    color: #f9faf8;
    display: inline-block;
    margin-top: 10px;
    padding: 7px 10px;
    border-radius: 8px;
}
.header-image img{
    border-radius: 30px;
    margin: 0;
    padding: 0;
}